name= "GoNode - poc"
bind= ":2405"

[databases.master]
type    = "master"
dsn     = "postgres://safre:safre@192.168.30.20/gonode?sslmode=disable"
enabled = true
prefix  = "prod"

[filesystem]
path = "/tmp/gnode"

[auth]
key = "ZeSecretKey0oo"