$color-main-background            = #2c3139
$color-main-text                  = #bec3cf
$color-navigation-background      = #2e72aa
$color-navigation-background-over = #1e69aa
$color-navigation-text            = #ddd
$color-navigation-border          = #1e2127
$color-nodes-list-border          = #1e2127
$color-nodes-list-marker          = #278ee2
$color-second-panel-background    = #3b414c


// ——————————————————————————————————————————————————————————————
// Button
// ——————————————————————————————————————————————————————————————
$color-button-background               = #21252e
$color-button-background-over          = #282d38
$color-button-background-disabled      = #434c5e
$color-button-text                     = $color-blue
$color-button-text-over                = $color-blue-lighter
$color-button-text-disabled            = #626c7e








$color-blue                            = #22aee3
$color-blue-light                      = #41c0ed
$color-blue-lighter                    = #a5e0ff




$color-header-background               = #fff
$color-header-text                     = #2c303c

$color-footer-background               = #fff
$color-footer-text                     = #4a5161

$color-donut-text                      = #fff
$color-country-inactive                = #2e353f
$color-country-active                  = #363f4e
$color-country-stroke                  = #282f39
$color-donut-background                = #08090b
$color-country-selected                = #286786
$color-country-over                    = #24b5f1
$color-country-marker                  = #191f24

// Initiatives
$color-initiative-more                 = $color-blue
$color-initiative-more-over            = $color-blue-lighter
$color-initiative-highlight-background = #345364
$color-initiative-list-border          = #1d2028
$color-initiative-list-background      = #282f38
$color-initiative-list-background-alt  = #2e3640
$color-initiative-tag-text             = $color-blue-light
$color-initiative-tag-border           = $color-blue
$color-initiative-additional-info      = $color-blue-light

$color-carousel-dot                    = #45505c
$color-carousel-dot-active             = $color-blue
$color-carousel-dot-over               = $color-blue-lighter

$color-panel-background                = #2f3640

$search-button-color                   = $color-blue-light

$color-lob-label-text                  = #fff

// Axes
$color-axis-business                   = #f13a8d
$color-axis-business-highlight         = #ee0e68
$color-axis-xp                         = #41c0ed
$color-axis-xp-highlight               = #0cb2ed
$color-axis-environment                = #7c73e0
$color-axis-environment-highlight      = #5c38b6

// Card
$color-card-background                 = #2a3441
$color-card-header-background          = #2a3441
$color-card-header-text                = #fff
$color-card-count                      = #0cb2ec

.axes-gradient
  background: $color-axis-environment-highlight
  background: -moz-linear-gradient(left,    $color-axis-business 0%, $color-axis-xp 50%, $color-axis-environment 100%)
  background: -webkit-linear-gradient(left, $color-axis-business 0%, $color-axis-xp 50%, $color-axis-environment 100%)
  background: linear-gradient(to right,     $color-axis-business 0%, $color-axis-xp 50%, $color-axis-environment 100%)



