$color-blue                            = #22aee3
$color-blue-light                      = #41c0ed
$color-blue-lighter                    = #a5e0ff


$color-main-background              = #2c3139
$color-main-text                    = #bec3cf
$color-navigation-background        = #2e72aa
$color-navigation-background-over   = #1e69aa
$color-navigation-background-active = #195baa
$color-navigation-text              = #ddd
$color-navigation-text-active       = #fff
$color-navigation-border            = #1e2127
$color-nodes-list-border            = #1e2127
$color-nodes-list-marker            = #278ee2
$color-second-panel-background      = #3b414c


// ——————————————————————————————————————————————————————————————
// Button
// ——————————————————————————————————————————————————————————————
$color-button-background               = #21252e
$color-button-background-over          = #282d38
$color-button-background-disabled      = #434c5e
$color-button-text                     = $color-blue
$color-button-text-over                = $color-blue-lighter
$color-button-text-disabled            = #626c7e



$color-pager-background = #21252e


$color-node-revs-background              = #21252e
$color-node-revs-text                    = $color-node-revs-background
$color-node-revs-text-hover              = $color-node-revs-background
$color-node-revs-text-active             = #fff
$color-node-rev-circle-background        = #1e69aa
$color-node-rev-circle-background-hover  = #278ee2
$color-node-rev-circle-background-active = #278ee2
$color-node-revs-stroke                  = #1e69aa
$color-node-revs-current                 = $color-blue-light
$color-node-revs-more-background         = $color-blue-light
