$navigation-width = 240px
$nodes-list-marker-width = 4px



$header-height = 60px
$footer-height = 40px

$user-card-picture-size   = 64px
$user-card-picture-margin = 15px

$initiative-item-toggle-size = 22px

$search-icon-size       = 26px
$search-icon-arrow-size = 18px

$initiative-highlight-height = 20px

$initiative-list-item-axis-indicator = 4px

$users-carousel-arrow-size = 24px

// ----------------------------------------
// Initiatives carousel
// ----------------------------------------
$initiatives-carousel-nav-width   = 40px
$initiatives-carousel-height      = 180px
$initiatives-carousel-dots-height = 36px
$carousel-dot-item-size           = 24px
$carousel-dot-size                = 6px
$initiatives-carousel-arrow-size  = 40px

// ----------------------------------------
// Lines of business
// ----------------------------------------
$lob-icon-size              = 32px
$lob-icon-size-small        = 22px
$lob-initiative-icon-margin = 12px


// ----------------------------------------
// Legend
// ----------------------------------------
$legend-bottom-margin       = 100px
$legend-vertical-spacing    = 2px
$legend-item-height         = 42px
$legend-color-width         = 12px
$legend-control-size        = 60px
$legend-control-left-margin = 30px
$legend-label-left-margin   = 35px
$legend-label-width         = 360px

// ----------------------------------------
// Card
// ----------------------------------------
$card-header-height = 60px

// ----------------------------------------
// Panel
// ----------------------------------------
$panel-width              = 400px
$panel-close-size         = 36px
$panel-horizontal-padding = 15px
