$navigation-width = 240px
$nodes-list-marker-width = 4px

$login-width         = 300px
$login-border-radius = 3px


$header-height = 60px
$footer-height = 40px

$carousel-arrow-size = 36px
$carousel-dot-size = 2px
$carousel-dot-item-size = 8px
$color-carousel-dot-over = #FFF


// ----------------------------------------
// Pager
// ----------------------------------------
$pager-height = 36px
$pager-nav-width = 36px


// ----------------------------------------
// Card
// ----------------------------------------
$card-header-height = 60px

// ----------------------------------------
// Panel
// ----------------------------------------
$panel-width              = 400px
$panel-close-size         = 36px
$panel-horizontal-padding = 15px
