name= "GoNode - poc"
bind= "0.0.0.0:2508"
test= true

[databases.master]
type    = "master"
dsn     = "postgres://postgres:@localhost/postgres?sslmode=disable"
enabled = true
prefix  = "prod"

[filesystem]
path = "/tmp/gnode"

[dashboard]
prefix = "/dashboard"

[api]
prefix = "/api"

[guard]
    key = "ZeSecretKey0oo"

    [guard.jwt]
        [guard.jwt.login]
        endpoint = "\\/api\\/v([0-9\\.]*)\\/login"
        page = "http://localhost:2508/dashboard/login"

        [guard.jwt.token]
        apply = "^(\\/api\\/v([0-9\\.]*)|\\/dashboard(.*))"
        ignore = ["\\/dashboard\\/login"]
        
    [guard.anonymous]
        roles = [
            "IS_AUTHENTICATED_ANONYMOUSLY",
            "node:prism:read"
        ]

[security]
    voters = [
        "security.voter.role",
        "security.voter.is",
        "gonode.security.voter.access",
        "gonode.security.voter.role",
    ]

    [security.cors]
    allowed_origins = ["http://localhost:8000"]
    allowed_methods = ["GET", "PUT", "POST"]
    allowed_headers = ["Origin", "Accept", "Content-Type", "Authorization"]

    [[security.access]]
    path  = "^\\/dashboard\\/login"
    roles = ["IS_AUTHENTICATED_ANONYMOUSLY"]

    [[security.access]]
    path  = "^\\/dashboard"
    roles = ["ROLE_ADMIN"]

    [[security.access]]
    path  = "^\\/api\\/v([0-9\\.]*)\\/hello"
    roles = ["IS_AUTHENTICATED_ANONYMOUSLY", "ROLE_API"]

    [[security.access]]
    path  = "^\\/api"
    roles = ["ROLE_API"]

    [[security.access]]
    path  = "^\\/"
    roles = ["IS_AUTHENTICATED_ANONYMOUSLY"]

[media]
    [media.image]
    allowed_widths = [100, 250, 500, 1024]
    max_width = 1024

[logger]
    level = "debug"
