.footer
  height: $footer-height
  position: absolute
  width: 100%
  left:   0
  bottom: 0
  background: $color-footer-background
  color:      $color-footer-text
  z-index: 30

  &_item
    width: 33.3%
    float: left
    text-align: center
    line-height: $footer-height
