.header
  position: absolute
  background: $color-header-background
  color:      $color-header-text
  width: 100%
  height: $header-height
  line-height: $header-height
  padding: 0
  z-index: 30

  &_logo
    float: left
    height: $header-height
    background-repeat: no-repeat
    margin-left: 10px
    width: 150px
    background-size: auto 50px
    background-position: center left
