.loader
  display: inline-block
  width:  44px
  height: 14px
  background-image: url('../imgs/loader-small-blue.gif')
  background-size: cover
  background-position: center center

.search_title
  .loader
    display: block
    position: absolute
    left: 50%
    bottom: 8px
    margin-left: -22px
