.navigation
  position: absolute
  top:    0
  bottom: 0
  left:   0
  width: $navigation-width
  background-color: $color-navigation-background
  color: $color-navigation-text
  border-right: 1px solid $color-navigation-border

  &_brand
    display: block
    text-transform: uppercase
    padding: 18px 15px

    font-size: 22px
    margin: 0
    background-color: $color-navigation-background-over
    margin-bottom: 20px
    font-weight: 900
    color: #fff

    strong
      font-weight: 500
      color: #62b6ff

  &_item
    display: block
    padding: 9px 15px
    text-transform: uppercase
    font-size: 14px
    font-weight: 500
    vertical-align: middle

    .fa
      vertical-align: middle
      font-size: 16px
      margin-right: 9px
      color: lighten($color-navigation-background, 20)

    &:hover
      background-color: $color-navigation-background-over

    &-active
      background-color: $color-navigation-background-active
      color:            $color-navigation-text-active
