.node_revisions
  display: block
  position: absolute
  top:    0
  right:  0
  bottom: 0
  background-color: $color-node-revs-background
  overflow-y: auto

  &:before
    content: ' '
    display: block
    position: absolute
    height: 100%
    width: $node-revisions-stroke-width
    background-color: $color-node-revs-stroke
    top:  0
    left: ($node-revision-size / 2 - $node-revisions-stroke-width / 2)

  &_item
    position: relative
    cursor: pointer
    width:  $node-revision-size
    height: $node-revision-size

    &_circle
      display: block
      position: absolute
      top:  (($node-revision-size - $node-revision-circle-size) / 2)
      left: (($node-revision-size - $node-revision-circle-size) / 2)
      width:  $node-revision-circle-size
      height: $node-revision-circle-size
      line-height: $node-revision-circle-size
      font-weight: 900
      font-size: 14px
      border-radius: ($node-revision-circle-size / 2)
      text-align: center
      background-color: $color-node-rev-circle-background
