.user-card
  &_info
    position: relative
    min-height: $user-card-picture-size
    padding-top: 9px
    padding-left: ($user-card-picture-size + $user-card-picture-margin * 2)

  &_picture
    display: block
    width:  $user-card-picture-size
    height: $user-card-picture-size
    border-radius: ($user-card-picture-size / 2)
    background: #000
    position: absolute
    top:  0
    left: $user-card-picture-margin
    background-image: url('../imgs/picto-user.png')
    background-size: cover
    background-position: center center

  &_name
    font-weight: 600

  &_position
    font-weight: 400
    display: block
    color: #7d8da3

.users-carousel
  margin-top: 30px
  .user-card
    &_info
      margin-left:  $users-carousel-arrow-size
      margin-right: $users-carousel-arrow-size

  .slick-prev,
  .slick-next
    top: (($user-card-picture-size - $users-carousel-arrow-size) / 2)
    &:before
      width:  $users-carousel-arrow-size
      height: $users-carousel-arrow-size
      background-size: $users-carousel-arrow-size $users-carousel-arrow-size

  .slick-prev
    left: 0

  .slick-next
    right: 0
