{
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "blockBindings": true,
        "jsx": true,
        "modules": true
    },
    "rules": {
        "semi": 2
    }
}
